.ico {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    &:hover {
        @extend %transition;
        transform: scale(1.4);
        filter: drop-shadow(6px 6px 6px #FFB500);
    }
}

.ico-skype {
    width: 48.23px;
    height: 48.23px;
    bottom: 165%;
    left: 44%;
    background-image: url('../img/icons/skype.svg');
}

.ico-letter {
    width: 46px;
    height: 36px;
    top: 165%;
    left: 44%;
    background-image: url('../img/icons/letter.svg');
}

.ico-telephone {
    width: 38px;
    height: 38px;
    bottom: 101%;
    left: 118%;
    background-image: url('../img/icons/telephone.svg');
}

.ico-viber {
    width: 45px;
    height: 45px;
    top: 101%;
    right: 118%;
    background-image: url('../img/icons/viber.svg');
}

.ico-cactus {
    width: 58.57px;
    height: 69px;
    top: 98%;
    left: 118%;
    background-image: url('../img/icons/cactus.svg');
}

.ico-telegram {
    width: 58px;
    height: 49px;
    bottom: 101%;
    right: 118%;
    background-image: url('../img/icons/telegram.svg');
}
