.ico {
    position: absolute;
    cursor: pointer;
    display: inline-block;
    background-repeat: no-repeat;
    &_jump {
        &:hover {
            filter: drop-shadow(6px 6px 6px $color-additional);
            animation: jump .4s linear alternate infinite;
        }
    }
}

.ico-skype {
    width: 48.23px;
    height: 48.23px;
    bottom: 165%;
    left: 44%;
    background-image: url('../img/icons/skype.svg');
    &_colored {
        bottom: -86%;
        left: 25%;
        @extend %menu-icon;
        @extend %menu-icon-hovered;
    }
}

.ico-letter {
    width: 46px;
    height: 36px;
    top: 165%;
    left: 44%;
    background-image: url('../img/icons/letter.svg');
    &_colored {
        top: 10%;
        left: 104%;
        @extend %menu-icon;
        @extend %menu-icon-hovered;
    }
}

.ico-telephone {
    width: 38px;
    height: 38px;
    bottom: 101%;
    left: 118%;
    background-image: url('../img/icons/telephone.svg');
    &_colored {
        bottom: -22%;
        left: 96%;
        @extend %menu-icon;
        @extend %menu-icon-hovered;
    }
}

.ico-viber {
    width: 45px;
    height: 45px;
    top: 101%;
    right: 118%;
    background-image: url('../img/icons/viber.svg');
    &_colored {
        top: 144%;
        right: 32%;
        @extend %menu-icon;
        @extend %menu-icon-hovered;
    }
}

.ico-cactus {
    width: 58.57px;
    height: 69px;
    top: 98%;
    left: 118%;
    background-image: url('../img/icons/cactus.svg');
    &_colored {
        left: 4%;
        top: 97%;
        @extend %menu-icon;
        @extend %menu-icon-hovered;
    }
}

.ico-telegram {
    width: 58px;
    height: 49px;
    bottom: 101%;
    right: 118%;
    background-image: url('../img/icons/telegram.svg');
    &_colored {
        bottom: -70%;
        right: 7%;   
        @extend %menu-icon;
        @extend %menu-icon-hovered;
    }
}
