%font {
    font-family: 'Poppins', 'Verdana', sans-serif;
}

%transition {
    transition: all .3s ease-out;
}

%menu-icon {
    border: 2px solid $color-light;
    border-radius: 50%;
    background-position: center;
    background-color: $color-additional;
    filter: drop-shadow(6px 6px 6px $color-shadow);
}

%menu-icon-hovered {
    &:hover {
        @extend %transition;
        transform: scale(1.4);
        filter: drop-shadow(6px 6px 6px $color-additional);
    }
}
