.header {
    position: absolute;
    width: 422.5px;
    height: 145px;
    left: 0px;
    top: 0px;
    background-image: url('../img/backgrounds/header-bg.png');
    background-repeat: no-repeat;
}